.email-text{float:left;font-size: 14px;margin:2px 0px;color: #666666;letter-spacing: 0.5px;padding-left: 7px;}
.email-value{float:left;margin-bottom: 3px;padding-left: 8px;}
.email-value input{width:99%;padding: 0px 5px;font-size:13px;margin: 0px;outline:none;height:25px;border: 1px solid #CCC;box-sizing: border-box;}
.email-body{width: 98%;padding: 0px;margin: 5px 1%;background:#FFF;float: left;overflow: hidden;box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px #888;-moz-box-shadow: 0 0 5px #888;-ms-box-shadow: 0 0 5px #888;-o-box-shadow: 0 0 5px #888;}
.part{width: 100%;padding: 0px;margin:0px 0%;float: left;overflow: hidden;}
.title{width: 100%;float: left;background:#595959;padding: 5px 10px;margin:0px 0px 8px 0%;color: #FFF;font-size: 15px;letter-spacing: 0.5px;box-shadow: 0 5px 5px -5px #000000;-webkit-box-shadow: 0 5px 5px -5px #000000;-moz-box-shadow: 0 5px 5px -5px #000000;-ms-box-shadow: 0 5px 5px -5px #000000;-o-box-shadow: 0 5px 5px -5px #000000;}
.title-info{background: #FFF;padding: 8px 5px;margin: 0px 1%;float: left;width: 98%;/*border: 1px solid #CCC;*/box-sizing: border-box;}
.field-div{width:20%;float: left;padding: 0px;margin: 5px 0px;}
.field-text{width: 100%;float: left;padding: 0px; font-size: 12px;margin: 0px;color: #737373;letter-spacing: 0.5px;}
.field-value{width: 100%;padding: 0px;margin: 0px;float: left;font-size: 13px;color: #666666;font-weight: 500;word-wrap: break-word;}
.part2{width:100%;float: left;padding: 0px;margin: 0px 0%;}
.part2 .title{width: 100%;margin:8px 0px;}
.part2 .title-info{width: 98%;margin: 0px 1%;}
.part3{width: 100%;float: left;padding: 0px;margin: 0px 0%;}
.part3 .title-info{margin-top: 0px;}

.sign-div{width: 98%;float: left;padding: 0px 0px;margin: 3px 1%;}
.sign-thanks{width: 100%; font-size: 16px;color: #666666;float: left;font-weight: 500;letter-spacing: 0.3px;}
.sign-name{width: 100%;font-size: 20px;color: #333333;float: left;font-weight: 600;letter-spacing: 0.3px;}
.discalim{width:98%;float: left;border-top:1px solid #333333;box-sizing: border-box;padding: 5px;font-size: 12px;text-align: justify;color: #666666;margin:8px 1% 10px 1%;}