
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-types">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-type-title">
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 job-type-tab padding0">
         <a [routerLink]="['JobsCount', 'my']"  routerLinkActive="router-link-active"><img src="../assets/images/my_job.png">My </a>
    </div>
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 job-type-tab padding0">
         <a [routerLink]="['JobsCount', 'all']"  routerLinkActive="router-link-active"><img src="../assets/images/all_jobs.png" >All</a>
    </div>
  </div>
  
  <router-outlet></router-outlet>

    <!--<dashboard-jobscount></dashboard-jobscount>-->
  
</div>


