/*.hea.header-left{width: 70%;float: left;font-size: 20px;padding: 11px 0px;font-weight: bold;}
der-content{background: #f5f5f5;padding: 0px 0px 0px 10px;float: left;width: 99.2%;}
.header-right{width: 30%; float: left;}
.location{width: 45%; background: #2da7b3;float: left;padding: 14px 15px;}
.location select{background: transparent;border: none;font-size: 14px;letter-spacing: 0.5px;outline: none;width: 100%;}
.user-info{width: 45%; padding: 5px 0px;margin: 0px;float: left;text-align: center;}
.user-info span{display: inline-block;vertical-align: middle;font-size: 17px;letter-spacing: 0.5px;}*/

.search-filter{float: left;padding-top: 10px;}
.search-filter img{cursor: pointer;background: #d9d9d9;margin-top: -5px;}
.search-filter input[type="search"]{width:70%;background:transparent;border-bottom: 2px solid #0098b3;box-sizing: border-box;border-top: none;border-right: none;border-left: none;outline: none;}
