<!-- <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-head padding0">
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 job-headLeft" style="padding-left:0px;">
       </div>
     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 job-headRight text-right">
         <img src="../assets/images/edit_icon.png">
       </div>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-fullinfo insurance">
      <p-scrollPanel [style]="{width: '100%', height: '200px'}">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngFor="let insurance of insurances" style="float:left;padding-bottom:20px;padding-left:0px;padding-right:0px;">
          <div class="insurance-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-text padding0">Insurance Company</div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-value padding0">{{insurance.companyName}}</div>
          </div>
          <div class="insurance-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-text padding0">Address</div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-value padding0">{{insurance.address}}</div>
          </div>
        </div>
      </p-scrollPanel>
   </div>
</div> -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-text">Self Pay</div>
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-value">
              <span *ngIf="selfPay !== undefined"> {{selfPay}}</span></div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-text">Claim No.</div>
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-value">
              <span *ngIf="insurances !==null && insurances !==undefined"> {{insurances.claimNumber}}</span></div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-text">Policy No.</div>
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-value">
              <span *ngIf="insurances !==null && insurances !==undefined"> {{insurances.policyNumber}}</span>
           </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-text">Insurance Company</div>
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-value">
              <span *ngIf="insurances !==null && insurances !==undefined"> {{insurances.insuranceCompanyName}}</span></div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left;">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-text">Insurance Company Address</div>
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-value">
              <span *ngIf="insurances !==null && insurances !==undefined">{{insurances.address}}{{insurances.city}}{{insurances.state}}{{insurances.zip}}</span></div>
    </div>
    
    <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-text"></div>
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-value">7675689486</div>
    </div> -->
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-text">Email</div>
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-value">
              <span *ngIf="insurances !==null && insurances !==undefined && insurances.email!=null">{{insurances.email}}</span></div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-text">Phone No.</div>
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-value">
              <span *ngIf="insurances !==null && insurances !==undefined && insurances.phone!=null">{{insurances.phone}}</span></div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left;">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-text">Web Address</div>
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 insurance-new-value">
              <span *ngIf="insurances !==null && insurances !==undefined && insurances.website!=null">{{insurances.website}}</span></div>
    </div>
  </div>