<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 add-subjob"  style="float:left;margin-top:20px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="float:left;padding:10px 0px;border:1px solid #1a1a1a;box-sizing:border-box;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Customer Name</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <input type="text"/>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">First Name</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <input type="text"/>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Last Name</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <input type="text"/>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Email</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <input type="text"/>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Address</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <textarea style="height:85px;"></textarea>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <input type="text" placeholder="City"/>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <input type="text" placeholder="State"/>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <input type="text" placeholder="Zip"/>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Loss Address<br>
                           <span class="chk" style="vertical-align:middle !important;"><input type="checkbox"/></span>
                           <span class="chk" style="color:#b3b3b3;">Same as Customer Address</span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                            <textarea style="height:85px;"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                            <input type="text" placeholder="City"/>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                            <input type="text" placeholder="State"/>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                            <input type="text" placeholder="Zip"/>
                        </div>
                    </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Billing Address<br>
                                <span class="chk" style="vertical-align:middle !important;"><input type="checkbox"/></span>
                                <span class="chk" style="color:#b3b3b3;">Same as Customer Address</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                                <textarea style="height:85px;"></textarea>
                            </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                                <input type="text" placeholder="City"/>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                                <input type="text" placeholder="State"/>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                                <input type="text" placeholder="Zip"/>
                            </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Tenant Name</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                                <input type="text"/>
                            </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Tenant Number</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                                <input type="text"/>
                            </div>
                    </div>
            </div>
            <div class="col-lg-12" style="float:left">&nbsp;</div>
        </div><!-- End of Column 8 Div -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:left;padding-right:0px;">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:10px 0px;float:left;border:1px solid #1a1a1a;box-sizing:border-box;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Cause of Loss</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <select>
                            <option>Select</option>
                        </select>
                    </div>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Program Type</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <select>
                            <option>Select</option>
                        </select>
                    </div>
               </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Year Built</div>
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                             <select>
                                 <option>Select</option>
                             </select>
                          </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Property Type</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                                <span class="chk"><input type="radio"/>Residential</span>
                                <span class="chk"><input type="radio"/>Commercial</span>
                            </div>
                       </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Description</div>
                         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                             <textarea style="height:85px;"></textarea>
                         </div>
                    </div>
                 </div>
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Claim No.</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                                    <input type="text"/>
                                </div>
                           </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Insurance Company</div>
                             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                                 <select>
                                     <option>Select</option>
                                 </select>
                             </div>
                        </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Estimator</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                                    <input type="text"/>
                                </div>
                           </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Co-Ordinator</div>
                             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                                    <input type="text"/>
                             </div>
                        </div>
                   </div>
                   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Supervisor</div>
                                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                                     <input type="text"/>
                                 </div>
                            </div>
                         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Finance Person</div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                                     <input type="text"/>
                              </div>
                         </div>
                    </div>
                    </div>
        </div><!-- End of Column 4 Div -->
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:10px 0px;margin-top:15px;float:left;border:1px solid #1a1a1a;box-sizing:border-box;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Agent Name</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value add-new-add">
                        <select>
                                <option>Select</option>
                        </select>
                        <img src="./assets/images/add.png"/>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Agent Number</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <input type="text"/>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Adjuster Name</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value add-new-add">
                        <select>
                                <option>Select</option>
                        </select>
                        <img src="./assets/images/add.png"/>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Adjuster Number</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <input type="text"/>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">TPA</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value add-new-add">
                        <select>
                                <option>Select</option>
                        </select>
                        <img src="./assets/images/add.png"/>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">TPA Number</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <input type="text"/>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Property Manager Name</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value add-new-add">
                        <select>
                                <option>Select</option>
                        </select>
                        <img src="./assets/images/add.png"/>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Property Manager Number</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <input type="text"/>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Sales Representative</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <select>
                                <option>Select</option>
                        </select>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Sales Representative Number</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <input type="text"/>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Referred By</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value add-new-add">
                        <select>
                                <option>Select</option>
                        </select>
                        <img src="./assets/images/add.png"/>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-name">Referred Number</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-text-value">
                        <input type="text"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;padding:0px;margin-top:10px;">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="float:left;padding:0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 save-email">
                                <input type="checkbox"/> &nbsp;Email
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 email-recpnt">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 recpnt-text">Recipient</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 recpnt-value">
                                <select style="background:#FFF;border-radius:0px;">
                                    <option>Select Name</option>
                                    <option>David</option>
                                </select>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="float:left">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right action-btn">
                         <button class="sav-add" ><span><img src="./assets/images/save_job.png"></span>Save & Add Sub Job</button>
                         <button class="sav" type="submit" ><span><img src="./assets/images/save.png"></span>Save</button>
                         <button class="cancel" type="submit" ><span><img src="./assets/images/cancel.png"></span>Cancel</button>
                 </div>
            </div>
    </div>
</div>