<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Address1</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <textarea [ngModel]="address?.address1" 
                        (input)="address.address1 = $event.target.value"  #address1="ngModel"
                        name="address.address1" [readonly]="isAddressSame"></textarea>
                </div>
                <!--<div *ngIf="address1.errors?.minlength">
                                Address1 must be at least 10 characters long.
                </div> -->

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 part-info padding0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">City</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <input type="text" [ngModel]="address?.city" 
                        (input)="address.city = $event.target.value" #cityName="ngModel"
                        name="address.city" [readonly]="isAddressSame"/>
                </div>
                <!--<div *ngIf="cityName.errors?.minlength">
                                City must be at least 5 characters long.
                </div> -->
                

        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 part-info padding0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">State</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <!--<input type="text" [ngModel]="address?.state" 
                        (input)="address.state = $event.target.value" 
                        name="address.state"/>-->

                        <p-autoComplete 
                        [ngModel]="address?.state"
                        [suggestions]="filteredCustomerStates"
                        (completeMethod)="filterStates($event)"
                        (input)="address.state = $event.target.value" 
                        [forceSelection]="true"
                        name="address.state"
                        placeholder="State" [readonly]="isAddressSame">
                        </p-autoComplete>

                </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 part-info padding0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Zip</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <!--<input type="text" [ngModel]="address?.zip"  
                        (input)="address.zip = $event.target.value" 
                        name="address.zip"/>-->

                        <p-inputMask [ngModel]="address?.zip" mask="99999"
                                (ngModelChange)="address.zip = $event"
                                placeholder="99999"
                                name="address.zip" [readonly]="isAddressSame">
                        </p-inputMask>

                </div>
        </div>
        </div><!-- End of Column 12 Div -->
        </div>
</div>