.email-text{float:left;font-size: 14px;margin:2px 0px;color: #666666;letter-spacing: 0.5px;padding-left: 7px;}
.email-value{float:left;margin-bottom: 3px;padding-left: 8px;}
.email-value input{width:99%;padding: 0px 5px;font-size:13px;margin: 0px;outline:none;height:25px;border: 1px solid #CCC;box-sizing: border-box;}
.email-body{width: 100%;padding: 0px;margin: 0px 0% 5px;float: left;overflow: hidden;}

.em_pdf{width:98%;padding:0px;margin:5px 1%;float:left;overflow:hidden;-moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;}
.em_title{width:100%;padding:5px 10px;margin:0px;float:left;font-size:16px;letter-spacing:0.5px;background:#595959;color:#FFF;box-shadow: 0 5px 5px -5px #000000;}
.em_pdf_info{width: 98%;float: left;padding:10px;margin: 0px;overflow: hidden;}
.em_row{width: 100%;padding: 0px;margin:5px 0px;float: left;overflow: hidden;}
.em_row_div{width: 25%;padding: 0px;margin:3px 0px;float: left;overflow: hidden;word-wrap: break-word;}
.em_row_div .em_text{width: 100%;padding: 0px;margin: 0px;float: left;overflow: hidden;font-size: 12px;color: #737373;letter-spacing: 0.5px;}
.em_value{width: 100%;padding: 0px;margin: 0px;float: left;color: #666666; overflow: hidden;font-size: 13px;font-weight: 500;word-wrap: break-word;}
.contact_table{width: 100%;padding: 0px;margin: 0px;float: left;overflow: hidden;}
.contact_table table{width: 99%;padding: 0px;margin: 0px 1% 0px 0px;float: left;border-collapse: collapse;border: 1px solid #CCC;box-sizing: border-box;}
.contact_table table thead tr th{background: #CCC;padding: 5px 10px;color: #595959;font-size: 13px;font-weight: 500;}
.contact_table table tbody tr td{padding: 3px 5px;border: 1px solid #CCC;box-sizing: border-box;font-size: 12px;letter-spacing: 0.5px;color: #595959;}

.sign-div{width: 98%;float: left;padding: 0px 20px;margin: 20px 0px 0px 0px;}
.sign-thanks{width: 100%; font-size: 16px;color: #666666;float: left;font-weight: 500;letter-spacing: 0.3px;}
.sign-name{width: 100%;font-size: 20px;color: #333333;float: left;font-weight: 600;letter-spacing: 0.3px;}
.discalim{width:98%;float: left;border-top:1px solid #333333;box-sizing: border-box;padding: 5px;font-size: 12px;text-align: justify;color: #666666;margin:8px 1% 10px 1%;}
.selct_note{color: #666666;font-size: 14px;}
.selct_note span{display: inline-block;vertical-align: top;}
.selct_note span input[type="radio"]{float: left;width: 14px;}