<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       
    <div class="col-lg-2 col-md-2 col-sm-push-12 col-xs-push-12 text-right new-job">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left padding0" style="float:left;margin-bottom:20px;margin-top:3px;">
                    <span class="master-title" style="color:#0033cc;font-size:21px;">Master Job Details</span>
             </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-mail" (click)="showEmail()">
                    <a style="color:#FFF;text-align:center;display:block;cursor:pointer;"><span class="job-mail-icon"><img src="../assets/images/at.png"></span>
                <span class="job-mail-text">Send Email</span></a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 all-pics" style="cursor:pointer;padding:0px;">
                <!-- <a href="/"> -->
                   <div (click)="showDialog()"> 
                       <span class="pic-icon"><img src="../assets/images/picture.png"></span>
                       <span class="pic-text">Pictures</span>
                   </div>
                <!-- </a> -->
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 job-add">
                    <a *ngIf="masterNumberData !==null && masterNumberData !==undefined" routerLink="/Content/SubJobs/NewSubJobs/{{masterNumberData.mastNumHash}}" style="color:#FFF;">
                        <span class="job-icon"><img src="../assets/images/plus_icon_20.png"></span>
                        <span class="job-text" style="text-align:center;display:block;">Add New File</span></a>
            </div>
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pdf-convt padding0" (click)="download(masterNumberData.mastNumCode)">
               <span class="pdf_img"><img src="../assets/images/pdf_icon.png"></span>
               <span class="pdf_text">Download PDF</span>
           </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center total-jobs" (click)="scroll(target)">
                <span>Total Files</span><span class="tj-count" *ngIf="subJobs!==undefined">{{this.subJobs.length}}</span>
            </div>
            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pdf-convt" (click)="download(masterNumberData.mastNumCode)"><img src="../assets/images/pdf-icon.png" title="PDF Convert"></div>-->
        </div>
            <div class="col-lg-10 col-md-10 col-sm-pull-12 col-xs-pull-12" style="float:left;">
               <masternumber-data [masterNumberData]="masterNumberData" [insurances]="insurances" (update)="updateMasterNumberData($event)"></masternumber-data>
            </div>
   </div>
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 jobs-details">
     <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <common-notes [notes]="notes"></common-notes>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="float:left;">
                        <common-contacts [contacts]="contacts" [refSource]="refSource" (updateContact)="updateContacts($event)"></common-contacts>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="float:left;">
                        <masternumber-whiteboard *ngIf="description!=undefined" [description]="description" (updateDesc)="updateDescription($event)"></masternumber-whiteboard>
                </div>
            </div>
        </div>
    </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size:23px;color:#0033cc;">
      Files
  </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detailstable" #target>
       <p-table [columns]="cols" [value]="subJobs" [paginator]="true" [rows]="10" >
            <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [class]="!col.showData ? 'ui-table-hide-on-sm' : ''" >
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-subJob >
                        <tr>
                                <td  style="text-align:center;"><span class="{{subJob.style}}"> {{ subJob.status }} </span></td>
                                <td>{{subJob.subJobCode }}</td>
                                <td  style="text-align:center;"><a routerLink="/Content/SubJobs/SubJobsDetails/{{subJob.jobHashCode}}"><img [src]="subJob.jobImage" title="{{subJob.jobType}}"></a> </td>
                                <td>{{subJob.supervisor}}</td>
                                <td>{{subJob.estimator}}</td>
                        </tr>
                    </ng-template>
           
        </p-table>
    </div>


 </div>

<div class="content-section implementation">
    <p-growl [(value)]="msgs"></p-growl>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
    <p-dialog header="Pictures" [(visible)]="display" modal="modal" width="auto" [responsive]="true">
             <pictures *ngIf="pictures!=undefined" [pictures]="pictures"></pictures>
            <!-- <p-footer>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;text-align:center;margin-top:5px;margin-bottom:8px;">
                        <button type="submit" pButton icon="fa-check" label="Create"></button>
                        <button type="reset" pButton icon="fa-close" (click)="display=false" label="Cancel"></button>
                    </div>
            </p-footer> -->
    </p-dialog>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;" [hidden]="!downloadPdf" id="masterJobDetails">
<masterjob-details [masterNumberData]="masterNumberData" [insurances]="insurances" [description]="description"
 [contacts]="contacts" [notes]="notes" [subJobs]="subJobs"></masterjob-details>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 email-popup" style="float:left" *ngIf="masterNumberData != undefined">
    <p-dialog header="Send Email" [(visible)]="displayEmail" [modal]="true" [responsive]="true" [width]="850">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                    <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">From</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-value"><input type="text"/></div>
                    </div> -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">To</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-value"><input type="text" [(ngModel)]="emailTo" [pattern]="emailPattern" 
                                (keypress)="showMailToMsg=false;emailTo=$event.target.value;" 
                                #recipients="ngModel" maxlength="250"> 
                            <div *ngIf="showMailToMsg" style="color:rgb(202, 10, 10);font-size:13px;font-weight:600;letter-spacing:0.7px;"> 
                                Email is required.
                            </div>
                        </div>
                        <div *ngIf="recipients.errors"> 
                            <div *ngIf="recipients.errors.pattern" style="color:rgb(202, 10, 10);font-size:13px;font-weight:600;letter-spacing:0.7px;"> 
                                Email is invalid
                            </div>	
                        </div> 
                        
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">Subject</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-value">
                            <input type="text" [(ngModel)]="emailSubject"/>
                            <div *ngIf="showSubjectMsg" style="color:rgb(202, 10, 10);font-weight:600;letter-spacing:0.7px;"> 
                                    Subject is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-text">Body</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-info padding0" style="float:left;max-height:320px;overflow-x:hidden;overflow-y:scroll;">
                    <!-- <p-scrollPanel [style]="{width: '100%', height: '320px'}"> -->
                            <div class="email-body" id="emailBody" #emailBody>
                                <masterjob-details [masterNumberData]="masterNumberData" [insurances]="insurances" [description]="description"
 [contacts]="contacts" [notes]="notes" [subJobs]="subJobs"></masterjob-details>
                                <div class="sign-div">
                                    <div class="sign-thanks">Thanks & Regards,</div>
                                    <div class="sign-name">Xcelerate Team.</div>
                                </div>
                                <div class="discalim">
                                    “This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.”
                                </div>
                            </div>
                     <!-- </p-scrollPanel> -->
                </div>
            </div>
            <p-footer style="float:left;width:100%;padding:10px 0px;">
                <button type="button" pButton icon="fa-check" (click)="sendMail(recipients)" label="Send"></button>
                <button type="button" pButton icon="fa-close" (click)="displayEmail=false" label="Cancel"></button>
            </p-footer>
    </p-dialog>
</div>