<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 add-subjob"  style="float:left;margin-top:20px;">
    <form #f="ngForm"  (submit)="saveData(f.value)" class="add-newsub"  method="POST">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:left;">
        <div class="row diff-row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-name padding0"><img src="./assets/images/personal.png">Personal</div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Master Name</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                         <input type="text" style="width:85%;"/>
                    </div>
              </div>
              
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Company Name</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value cust">
                        <input type="text" style="width:85%;"/>
                            <!-- <p-autoComplete 
                                [(ngModel)]="selectedOwner" 
                                [suggestions]="filteredCustomerNames"
                                (completeMethod)="filterCustomer($event)" 
                                [size]="30" 
                                field="name"
                                placeholder="Owner" 
                                [minLength]="1"  
                                name="selectedOwner"
                                [forceSelection]="true"
                                (onSelect)="onCustomerChange($event)"
                                (onClear)="onCustomerClear($event)" 
                                (onBlur)="onCustomerBlur($event)"                           
                                >
                            </p-autoComplete> -->
                    </div>
                </div>
            
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Owner Name</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value cust">
                        <p-autoComplete 
                           [(ngModel)]="selectedOwner" 
                           [suggestions]="filteredCustomerNames"
                           (completeMethod)="filterCustomer($event)" 
                           [size]="30" 
                           field="name"
                           placeholder="Owner" 
                           [minLength]="1"  
                           name="selectedOwner"
                           [forceSelection]="true"
                           (onSelect)="onCustomerChange($event)"
                           (onClear)="onCustomerClear($event)" 
                           (onBlur)="onCustomerBlur($event)"                           
                           >
                        </p-autoComplete>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">First Name</div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <input type="text" [ngModel]="customerBasicInfo?.firstName"
                            (ngModelChange)="customerBasicInfo.firstName=$event"
                        [readonly]="existingCustomer" name="customerBasicInfo.firstName"/>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Last Name</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text" [ngModel]="customerBasicInfo?.lastName"
                                 (ngModelChange)="customerBasicInfo.lastName=$event"
                                    [readonly]="existingCustomer"  name="customerBasicInfo.lastName"/>
                    </div>
                </div>
              </div>

              
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Email</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value another">
                        <input name="customerBasicInfo.email" [ngModel]="customerBasicInfo?.email" required [pattern]="emailPattern" 
                                (ngModelChange)="customerBasicInfo.email=$event"   
                                #offEmail="ngModel"> 
                        <div *ngIf="offEmail.errors"> 
                            <div *ngIf="offEmail.errors.pattern" style="color:rgb(202, 10, 10);font-weight:600;letter-spacing:0.7px;"> 
                                Email is invalid
                            </div>	
                        </div> 
                            <!--<input type="text" [ngModel]="customerBasicInfo?.email" 
                                   (ngModelChange)="customerBasicInfo.email=$event"
                                    [disabled]="existingCustomer"   name="customerEmail"/>-->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Home Phone</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">

                    <p-inputMask mask="(999) 999-9999" [ngModel]="customerBasicInfo?.phone1" name="customerBasicInfo.phone1" 
                            (ngModelChange)="customerBasicInfo.phone1 = $event" [readonly]="existingCustomer"
                            unmask="true" placeholder="(999) 999-9999">
                    </p-inputMask>


                            <!--<input type="text" [textMask]="{mask: mask}" [ngModel]="customerBasicInfo?.phone1"
                              (input)="customerBasicInfo.phone1 = $event.target.value" 
                              [disabled]="existingCustomer"  name="HomeNumber"/>-->
                    </div>
                </div>
             </div>

             
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Cell Number</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">

                    <p-inputMask mask="(999) 999-9999" [ngModel]="customerBasicInfo?.mobile" name="customerBasicInfo.mobile" 
                            (ngModelChange)="customerBasicInfo.mobile = $event" [readonly]="existingCustomer"
                            unmask="true" placeholder="(999) 999-9999">
                    </p-inputMask>


                            <!--<input type="text" [ngModel]="customerBasicInfo?.mobile"  [textMask]="{mask: mask}"
                             (input)="customerBasicInfo.mobile = $event.target.value" 
                             [disabled]="existingCustomer" name="MobileNumber"/>-->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Work Number</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">

                    <p-inputMask mask="(999) 999-9999" [ngModel]="customerBasicInfo?.workPhone" name="customerBasicInfo.workPhone" 
                            (ngModelChange)="customerBasicInfo.workPhone = $event" [readonly]="existingCustomer"
                            unmask="true" placeholder="(999) 999-9999">
                    </p-inputMask>


                            <!--<input type="text" [ngModel]="customerBasicInfo?.workPhone"  [textMask]="{mask: mask}" 
                             (input)="customerBasicInfo.workPhone = $event.target.value" 
                             [disabled]="existingCustomer" name="WorkNumber"/>-->
                    </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Address1</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <textarea [ngModel]="customerBasicInfo?.address1"
                            (input)="customerBasicInfo.address1 = $event.target.value" 
                             [readonly]="existingCustomer"  name="customerBasicInfo.address1"></textarea>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 part-info padding0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">City</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text" [ngModel]="customerBasicInfo?.city" 
                            (input)="customerBasicInfo.city = $event.target.value" 
                             [readonly]="existingCustomer"  name="customerBasicInfo.city"/>
                        </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 part-info padding0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">State</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <!--<input type="text" [ngModel]="customerBasicInfo?.state" 
                                (input)="customerBasicInfo.state = $event.target.value" 
                             [disabled]="existingCustomer"  name="customerState"/>-->


                             <p-autoComplete 
                               [ngModel]="customerBasicInfo?.state"
                               [suggestions]="filteredCustomerStates"
                               (completeMethod)="filterStates($event)"
                                [size]="30"
                                 (ngModelChange)="customerBasicInfo.state = $event" 
                               [forceSelection]="true"
                               name="customerBasicInfo.state"
                                [readonly]="existingCustomer" 
                               placeholder="State">
                            </p-autoComplete>


                        </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 part-info padding0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Zip</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <!--<input type="text" [ngModel]="customerBasicInfo?.zip"  
                                (input)="customerBasicInfo.zip = $event.target.value" 
                             [disabled]="existingCustomer" name="customerZip"/>-->
    
                                <p-inputMask [ngModel]="customerBasicInfo?.zip" mask="99999"
                                    (ngModelChange)="customerBasicInfo.zip = $event" 
                                    [readonly]="existingCustomer" name="customerBasicInfo.zip">
                             </p-inputMask>

                        </div>
                </div>
             </div><!-- End of Column 12 Div -->

                
            </div><!-- End of Column 12 Div -->
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 part-info padding0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Tenant Name</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <input [(ngModel)]="tenantName" name="tenantName" type="text"/>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Tenant Number</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <input [(ngModel)]="tenantPhoneNumber" [textMask]="{mask: mask}" name="tenantPhoneNumber" type="text"/>
                        </div>
                    </div>
              </div><!-- End of Column 12 Div -->
             
            
             
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value" *ngIf="showSaveCustomer"> 
                            <span class="loss-check" style="font-size:13px;color:#007acc;"><input type="checkbox" [(ngModel)]="saveCustomer" name="saveCustomer" (ngModelChange)="isLossAddressChanged()" [ngModel]="saveCustomer" >Save Owner</span>
                        </div>
                    </div>
                </div>
            </div><!-- End of Column 12 div -->
        </div><!-- End of Row --> 
    </div><!-- End of Column Div 4 -->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:left;">
            <div class="row diff-row" >
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-name padding0"><img src="./assets/images/personal.png">Details</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info" style="padding-left:0px;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Cause of Loss</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                        <select 
                                                [(ngModel)]="causeOfLossId" 
                                                name="causeOfLossId" 
                                                style="width:95%;"> 
                                            <option [value]="-1" required >[Select Cause of Loss]</option>
                                                        
                                            <option 
                                                    *ngFor="let causeOfLoss of causeOfLossIds"  
                                                [ngValue]="causeOfLoss.configId"
                                                [selected]="causeOfLoss.configId == -1"> {{causeOfLoss.configValue}} </option>
                                        </select> 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Program Type</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                        <select [(ngModel)]="programTypeId" name="programTypeId" > 
                                          <option value="" selected>[-- Select--] </option>
                                          <option *ngFor="let PType of programtypes" [ngValue]="PType.programTypeId"> {{PType.programType}} </option>
                                        </select>
                                </div>
                                </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Year Built</div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                            <select [(ngModel)]="yearBuiltId" name="yearBuiltId" >
                                              <option value="" [selected]="true">[-- Select--] </option> 
                                              <option *ngFor="let yBuiltId of yearBuiltIds" [ngValue]="yBuiltId.configId"> {{yBuiltId.configValue}} </option>
                                            </select>     
                                        </div>
                                </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Description</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                    <textarea [(ngModel)]="description" name="description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info" style="padding:0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Property Type</div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                        <span class="type-radio"><input type="radio" [(ngModel)]="propertyType"  value="Residential" name="propertyType"/>Residential</span>
                                        <span class="type-radio"><input type="radio"[(ngModel)]="propertyType"  value="Commercial" name="propertyType"/>Commercial</span>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div><!-- End of Row -->
                
        <div class="row diff-row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-name padding0"><img src="./assets/images/personal.png">Insurance</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Pay</div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                    <span class="loss-check"><input type="radio" [(ngModel)]="selfPay" 
                                            name="pay"  [ngModel]="selfPay" >Self Pay</span>
                                    <span class="loss-check"><input type="radio" name="pay">Insurance</span>
                                </div>
                            </div>
                        </div>
                </div>
                <div *ngIf="!selfPay" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info" style="padding:0px;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Claim No.</div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                                <input [(ngModel)]="claimNumber" name="claimNumber" type="text"/>
                                        </div>
                                </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info" style="padding:0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Policy No.</div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                           <input [(ngModel)]="policyNumber" name="policyNumber" type="text"/>
                                    </div>
                            </div>
                        </div>
        
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 padding0" style="float:left;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info" style="padding:0px;">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Insurance Company</div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                            <p-autoComplete 
                                                [(ngModel)]="insuranceCompany" 
                                                [suggestions]="filteredInsuranceCompanys" 
                                                (completeMethod)="filterIsuranceCompany($event)" 
                                                field="companyName"
                                                [size]="30"
                                                [forceSelection]="true"
                                                [dropdown]="true"
                                                placeholder="Insurance Company" 
                                                name="insuranceCompany">
                                            </p-autoComplete>
                                        </div>
                                </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 diff-row" style="float:left;margin-bottom:5px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-name padding0"><img src="./assets/images/personal.png">Loss Address</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0" style="float:left;margin:2px 0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">
                    <span class="loss-check" style="font-size:10px;"><input type="checkbox" [(ngModel)]="isLossAddressSame" name="LossAddressSame" (ngModelChange)="isLossAddressChanged()" [ngModel]="isLossAddressSame" ></span>
                    <span class="loss-text">Same as Owner Address </span></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <textarea [ngModel]="lossaddress1" [readonly]="isLossAddressSame" 
                            (input)="lossaddress1 = $event.target.value"
                            name="lossaddress1"></textarea>
                    </div>
    
               </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 part-info padding0" style="float:left;margin:3px 0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">City</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text" [ngModel]="lossAddressCity" name="lossAddressCity"
                                (input)="lossAddressCity = $event.target.value"  [readonly]="isLossAddressSame"   />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 part-info padding0" style="float:left;margin:3px 0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">State</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                 <p-autoComplete 
                                   [ngModel]="lossAddressState"
                                   [suggestions]="filteredCustomerStates"
                                   (completeMethod)="filterStates($event)"
                                    [size]="30"
                                     (ngModelChange)="lossAddressState = $event" 
                                   [forceSelection]="true"
                                   name="lossAddressState"
                                   [readonly]="isLossAddressSame"
                                   placeholder="State">
                                </p-autoComplete>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 part-info padding0" style="float:left;margin:3px 0px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Zip</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                 <p-inputMask [ngModel]="lossAddressZip" mask="99999"
                                        (ngModelChange)="lossAddressZip = $event" 
                                        [readonly]="isLossAddressSame" name="lossAddressZip">
                                 </p-inputMask>
    
    
                    </div>
                </div>
            </div>
        
        
    </div><!-- End of Column div 4 -->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:left;">
        <div class="row diff-row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-name padding0"><img src="./assets/images/personal.png">Contact Info</div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 with-add padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Agent Name</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                             <p-autoComplete 
                               [(ngModel)]="agentName"
                               [suggestions]="filteredAgentsName"
                               (completeMethod)="filterAgentName($event)"
                               field="fullName" 
                               [size]="30"
                               [forceSelection]="true"
                               name="agentName"
                               (onClear)="onAgentClear($event)" 
                               placeholder="Agent Name">
                            </p-autoComplete>
                            <span (click)="showDialog()"><img src="./assets/images/add.png"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info with-add padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Adjuster Name</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <p-autoComplete 
                                [(ngModel)]="adjusterName"
                                [suggestions]="filteredAdjustersName"
                                (completeMethod)="filterAdjusterName($event)"
                                field="fullName" 
                                [size]="30"
                                [forceSelection]="true"
                                name="adjusterName"
                                 (onClear)="onAdjusterClear($event)" 
                                placeholder="Adjuster Name">
                            </p-autoComplete>
                        <span (click)="showDialog()"><img src="./assets/images/add.png"></span>
                    </div> 
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info with-add padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">TPA Name</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <p-autoComplete 
                                [(ngModel)]="tpaName"
                                [suggestions]="filteredTpasName"
                                (completeMethod)="filterTpaName($event)"
                                field="fullName" 
                                [size]="30"
                                [forceSelection]="true"
                                name="tpaName"
                                 (onClear)="onTPAClear($event)" 
                                placeholder="TPA Name">
                            </p-autoComplete>
                        <span (click)="showDialog()"><img src="./assets/images/add.png"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 with-add padding0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Property Manager Name</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <p-autoComplete 
                                [(ngModel)]="propertyManagerName"
                                [suggestions]="filteredManagersName"
                                (completeMethod)="filterManagerName($event)"
                                field="fullName" 
                                [size]="30"
                                [forceSelection]="true"
                                
                                name="propertyManagerName"
                                placeholder="Property Manager Name">
                            </p-autoComplete>
                           <span (click)="showDialog()"><img src="./assets/images/add.png"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 part-info padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Referred Source</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <p-autoComplete 
                               [(ngModel)]="RSource" 
                               [suggestions]="filteredSources" 
                               (completeMethod)="filterSource($event)" 
                               [size]="30"
                               [forceSelection]="true"
                               [dropdown]="true"
                                placeholder="Referred Source" 
                                name="RSource">
                            </p-autoComplete>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info with-add padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Sales Representative</div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <p-autoComplete 
                                    [(ngModel)]="salesRepresentativeName"
                                    [suggestions]="filteredSalesName"
                                    (completeMethod)="filterSaleName($event)"
                                    field="fullName" 
                                    [size]="30"
                                    [forceSelection]="true"
                                    name="salesRepresentativeName"
                                    
                                    placeholder="Sales Representative">
                                </p-autoComplete>
                                <span (click)="showDialog()"><img src="./assets/images/add.png"></span>
                            </div>
                        </div>
                </div>
                
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info with-add padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Referred By</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <p-autoComplete 
                                    [(ngModel)]="referredBy"
                                    [suggestions]="filteredReferredBysName"
                                    (completeMethod)="filterReferredByName($event)"
                                    field="fullName" 
                                    [size]="30"
                                    [forceSelection]="true"
                                    name="referredBy"
                                   
                                    placeholder="Referred By">
                                </p-autoComplete>
                            <span (click)="showDialog()"><img src="./assets/images/add.png"></span>
                        </div>
                    </div>
            </div>
        </div>
        </div><!-- End of Row -->
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 diff-row" style="float:left;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-name padding0"><img src="./assets/images/personal.png">Billing Address</div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0" style="float:left;margin:2px 0px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">
                    <span class="billing-check" style="font-size:10px;"><input type="checkbox" [(ngModel)]="isBillingAddressSame" name="BillingAddressSame" (ngModelChange)="isBillingAddressChanged()" [ngModel]="isBillingAddressSame" ></span>
                    <span class="billing-text">Same as Owner Address </span></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <textarea [ngModel]="billingAddress?.address1" [readonly]="isBillingAddressSame" 
                                (input)="billingAddress.address1 = $event.target.value"
                                    name="billingAddress.address1"></textarea>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 part-info padding0" style="float:left;margin:3px 0px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">City</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <input type="text" [ngModel]="billingAddressCity" name="billingAddressCity"
                                (input)="billingAddressCity = $event.target.value" [readonly]="isBillingAddressSame"/>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 part-info padding0" style="float:left;margin:3px 0px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">State</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <!--<input type="text" [ngModel]="billingAddress?.state" name="billingAddressState"
                                (input)="billingAddress.state = $event.target.value" [disabled]="isBillingAddressSame" />-->

                             <p-autoComplete 
                               [ngModel]="billingAddressState"
                               [suggestions]="filteredCustomerStates"
                               (completeMethod)="filterStates($event)"
                                [size]="30"
                                 (ngModelChange)="billingAddressState = $event" 
                               [forceSelection]="true"
                               name="billingAddressState"
                               placeholder="State">
                            </p-autoComplete>


                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 part-info padding0" style="float:left;margin:3px 0px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Zip</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <!-- <input type="text" [ngModel]="billingAddress?.zip" name="billingAddressZip"
                                (input)="billingAddress.zip = $event.target.value" [readonly]="isBillingAddressSame" /> -->
                                <p-inputMask [ngModel]="billingAddressZip" mask="99999"
                                    (ngModelChange)="billingAddressZip = $event" 
                                    [readonly]="isBillingAddressSame" name="billingAddressZip">
                             </p-inputMask>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 diff-row" style="float:left;margin-top:5px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-name padding0"><img src="./assets/images/personal.png">Responsible Party</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                                <span class="type-radio">
                                    <input type="radio" name="name"/>Owner
                                </span>
                                <span class="type-radio">
                                    <input type="radio" name="name"/>Property Manager
                                </span>
                                <span class="type-radio">
                                    <input type="radio" name="name"/>Company
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div><!-- End of column div 4 -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:left;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right action-btn" style="margin-top:20px;">
                                <button class="sav-mail" ><span><img src="./assets/images/mail.png"></span>Email</button>
                                <button class="sav-add" ><span><img src="./assets/images/save_job.png"></span>Save & Add Sub Job</button>
                                <button class="sav" type="submit"><span><img src="./assets/images/save.png"></span>Save</button>
                                <button class="cancel" type="submit" ><span><img src="./assets/images/cancel.png"></span>Cancel</button>
                        </div>
                </div>
            </div><!-- End of Row -->
        </div><!-- End of Column div 12 -->
     </div><!-- End of Column 12 Div -->
    </form>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-one" style="float:left;">
        <p-dialog header="Add New" [(visible)]="display" modal="modal" width="350" [responsive]="true">
                <div class="enter-row">
                    <div class="enter-left">
                        <div class="text">First Name</div>
                        <div class="value"><input type="text"/></div>
                    </div>
                    <div class="enter-right">
                        <div class="text">Last Name</div>
                        <div class="value"><input type="text"/></div>
                    </div>
                </div>
                <div class="enter-row">
                        <div class="enter-left">
                            <div class="text">Email</div>
                            <div class="value"><input type="text"/></div>
                        </div>
                        <div class="enter-right">
                            <div class="text">Phone Number</div>
                            <div class="value"><input type="text"/></div>
                        </div>
                </div>
                <div class="enter-row">
                        <div class="enter-left full">
                            <div class="text">Address</div>
                            <div class="value"><input type="text"/></div>
                        </div>
                </div>
                <div class="enter-row">
                        <div class="enter-left">
                            <div class="text">City</div>
                            <div class="value"><input type="text"/></div>
                        </div>
                        <div class="enter-right">
                            <div class="text">State</div>
                            <div class="value"><input type="text"/></div>
                        </div>
                </div>
                <div class="enter-row">
                        <div class="enter-left">
                            <div class="text">Zip</div>
                            <div class="value"><input type="text"/></div>
                        </div>
                </div>
            <p-footer>
                <button type="button" pButton icon="fa-check" (click)="display=false" label="Create"></button>
                <button type="button" pButton icon="fa-close" (click)="display=false" label="Cancel"></button>
            </p-footer>
        </p-dialog>
    </div>