.master-info table tbody tr td span{display: inline-block;}
span.job-images{display: inline-block;}
span.all-jobsimg{display: inline-block;position: relative;margin-right:2px;}
span.badge{background:#909091;color:#FFF;position:absolute;right:0;top:-3px;display: inline-block; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
span.badge:hover{background:#595959;cursor: pointer;}
span.badge:hover .PopupBox{display:block;}
.PopupBox span.close-pop{cursor:pointer;display: block;text-align: center;background: #595959;color:#FFF;font-size: 11px;bottom:-15px;position: absolute;width:100%;border-radius: 0px 0px 3px 3px;-webkit-border-radius: 0px 0px 3px 3px;-moz-border-radius: 0px 0px 3px 3px;-ms-border-radius: 0px 0px 3px 3px;-o-border-radius: 0px 0px 3px 3px;letter-spacing: 0.5px;}
.PopupBox {
  display: none;
   width: 40px; 
  z-index: 1000;
  margin-top: 3px;
  margin-left: -5px;
  text-align: center;
  position: absolute;
  border-radius: 3px 3px 0px 0px;-webkit-border-radius: 3px 3px 0px 0px;-moz-border-radius:3px 3px 0px 0px;-ms-border-radius:3px 3px 0px 0px;
  background-color: #CCC;
  padding:5px 0px 3px 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);-ms-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.PopupBox:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
  pointer-events: none;
  /* border-color: rgba(242, 242, 242, 0);
	border-bottom-color: #f2f2f2; */
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #CCC;
	border-width: 10px;
	margin-left: -10px;
}

.fil-fields{margin:5px 0px;}
.sea-text{font-size: 13px;color: #333;padding-left: 0px;letter-spacing: 0.5px;}
.sea-value{margin: 2px 0px;padding-left: 0px;}
.sea-value input{width: 100%;padding: 0px 2px;outline:none;margin: 0px;height: 25px;border: 1px solid #999;box-sizing: border-box;}
.sea-btn button{padding:0px 15px;margin: 20px 0px 0px 0px;cursor: pointer;outline: none;}

.del_feild{margin: 5px 0px;}
.del_text{font-size: 11px;color: #404040;padding: 0px;margin: 0px;font-weight: 600;letter-spacing: 0.7px;}
.del_value{font-weight: 500;color: #8c8c8c;font-size: 12px;letter-spacing: 0.5px;}
.del_value textarea{border: 1px solid #d9d9d9;color: #333333;padding: 3px 5px;box-sizing: border-box;background: #F2F2F2;width: 100%;height: 80px;outline: none;resize: vertical;border-radius: 3px;}

