<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 with-add part-info padding0">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Area Name</div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                    <input type="text">
                    <span><img src="./assets/images/add.png"></span>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 part-info padding0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Item</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <input type="text" style="width:95%;">
                </div>
        </div>
    </div>
    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Height</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <input type="text">
                    </div>
                </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Width</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Length</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Cubic Feet</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <input type="text">
                    </div>
                </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0" style="float:left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Square Feet</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                    <input type="text">
                </div>
            </div>
        </div>
    </div> -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding0" style="float:left">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Type</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <span style="display:block;margin:2px 0px;color:#8c8c8c;"><input type="checkbox" style="vertical-align: text-bottom;"/>&nbsp;Repair</span>
                        <span style="display:block;margin:2px 0px;color:#8c8c8c;"><input type="checkbox" style="vertical-align: text-bottom;"/>&nbsp;Remove</span>
                        <span style="display:block;margin:2px 0px;color:#8c8c8c;"><input type="checkbox" style="vertical-align: text-bottom;"/>&nbsp;Replace</span>
                    </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 padding0" style="float:left">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Unit of Measure</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Units Price</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text">
                        </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding0" style="float:left">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part-info padding0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Total Units</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                            <input type="text">
                        </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 part-info padding0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-name">Total Price</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-value">
                        <input type="text" placeholder="" disabled="disabled"/>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="float:left">
            
    </div>
</div>