<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 calendar-div" style="float:left">
        <!-- <p-schedule [events]="events" [header]="header"></p-schedule> -->
        <p-schedule [events]="events" [header]="header" [editable]="true" [contentHeight]="500"></p-schedule>
</div>